---
const navigations = [
  { label: "Home", href: "/" },
  { label: "Blog", href: "/blog" },
  { label: "About", href: "/about" },
];
---

<nav>
  {
    navigations.map((item) => (
      <a href={item.href}>{item.label}</a>
    ))
  }
</nav>
